<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walk_01.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_03.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,32}</string>
                <key>spriteSourceSize</key>
                <string>{25,32}</string>
                <key>textureRect</key>
                <string>{{27,0},{25,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_05.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{52,0},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_06.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{79,0},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_07.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,32}</string>
                <key>spriteSourceSize</key>
                <string>{25,32}</string>
                <key>textureRect</key>
                <string>{{106,0},{25,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_08.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{131,0},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{158,0},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_10.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,32}</string>
                <key>spriteSourceSize</key>
                <string>{25,32}</string>
                <key>textureRect</key>
                <string>{{185,0},{25,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_11.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{210,0},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_12.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{237,0},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_13.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,32}</string>
                <key>spriteSourceSize</key>
                <string>{25,32}</string>
                <key>textureRect</key>
                <string>{{264,0},{25,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{289,0},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>assIn.png</string>
            <key>size</key>
            <string>{316,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f742cf8bbb91a3375ab4e753f289f15c:a65102d320446abffa379c787f7929f0:a12b74893c2efa1ac4331083b23cdec6$</string>
            <key>textureFileName</key>
            <string>assIn.png</string>
        </dict>
    </dict>
</plist>
